@media screen
and (min-height:1440px)
and (min-width:2560px) {
    .left, .right {
        height: 1360px;
    }
    
}

@media screen
and (max-width: 1180px) {
    .homePage {
        flex-direction: column;
    } 
        .navbarRight {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
        }
        .navbar {
            padding: 5px;
            justify-content: center;
        }
    
}

@media screen
and (max-width: 1180px) {
    .navbarLeft > h2 { opacity: 0;
        }    
        .navbarLeft {
            flex: 0%;
        }    
    }
    
